---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
SpaceAfterCStyleCast: false
PointerAlignment: Right
SortIncludes: false
AlignAfterOpenBracket: Align
AlignTrailingComments: true
MaxEmptyLinesToKeep: 1
InsertNewlineAtEOF: true
...
